.bio-section {
  margin-top: 40px;
  .bio-text-container {
    background-color: rgba(100, 100, 100, 0.2);
    border-radius: 6px;
    margin-bottom: 20px;
    .bio-heading {
      color: white;
      margin: 1.0rem;
    }
    .bio-grid {
      img {
        float: left;
        border-radius: 2px;
        margin: 1.0rem;
        margin-top: 0.1rem;
      }
      .bio-text {
        color: white;
        margin: 1.0rem;
      }
    }
  }
}

.bio-section:focus {
  outline: none;
}

// @media (max-width: 640px) {
//   .bio-container {
//     margin-left: 55px;
//   }
// }