* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  background-image: url('../images/hex-dark.png');
}

.content-sections {
  height: 100%
}