.portfolio-section {
  color: white;
  margin-top: 20px;
  .portfolio-container {
    background-color: rgba(100, 100, 100, 0.2);
    border-radius: 6px;
    .card-column {
      padding-left: 0;
      padding-right: 0;
      .portfolio-card {
        margin: 10px;
        background-color: grey;
        border-radius: 6px;
        .portfolio-card-image {
          background-image: url("../images/iphone.webp");
          background-size: cover;
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
          width: 100%;
          height: 60%;
          .portfolio-card-image-text {
            text-align: right;
            margin: 0;
            padding-top: 50%;
          }
        }
        .technologies-used {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          text-align: center;
        }
      }
    }
  }
}

.portfolio-section:focus {
  outline: none;
}
