.skills-container {
  margin: 0 15px 20px 15px;
  max-height: 400px;
  background-color: rgba(100, 100, 100, 0.2);
  border-radius: 6px;
    h2 {
      text-align: center;
      color: white;
    }
  .skills-row {
    text-align: center;
    .skill {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      border-radius: 6px;
      width: 50%;
      .skill-link {
      color: white;
      text-decoration: none;
        .skill-text {
        margin: 0;
        }
      }
    }
  }
}

.skill-html:hover {
  background-color: #E34C26;
}

.skill-css:hover {
  background-color: #002561;
}

.skill-js:hover {
  background-color: #f7df1e;
}

.skill-react:hover {
  background-color: #00d8ff;
}

.skill-node:hover {
  background-color: #6cc24a;
}

.skill-graphql:hover {
  background-color: #E535AB;
}

.skill-mongo:hover {
  background-color: #589636;
}

.skill-mysql:hover {
  background-color: #00758f;
}

.skill-gulp:hover {
  background-color: #cf4646;
}

.skill-sass:hover {
  background-color: palevioletred;
}

.skill-git:hover {
  background-color: #333;
}